<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <style>
      h4 {
        color: blue;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
      }
      h5 {
        font-weight: bold;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Informations personnelles :</h4>
          <br />
          <h5>{{noms}}</h5>
          <h5>{{email}}</h5>
          <h5>{{adresse}}</h5>
          <h5>{{contact}}</h5>

          <hr />

          <h4>Objectif :</h4>
          <br />
          <h5>{{objectif}}</h5>

          <hr />

          <h4>Competences techniques :</h4>
          <br />
          <h5>{{tech_skills}}</h5>

          <hr />

          <h4>Expérience :</h4>
          <br />
          <h5>{{exp_pro}}</h5>

          <hr />

          <h4>Projets :</h4>
          <br />
          <h5>{{projets}}</h5>

          <hr />

          <h4>Compétences interpersonnelles :</h4>
          <br />
          <h5>{{soft_skills}}</h5>
          <hr />

          <h4>Education :</h4>
          <br />
          <h5>{{education}}</h5>

          <hr />

          <h4>Langues :</h4>
          <br />
          <h5>{{langue}}</h5>
        </div>
      </div>
    </div>
  </body>
</html>
