{%extends "base.html"%}{%block title%}Accueil{%endblock title%}{%block content%}
<br /><br /><br />

<div>
  <p class="text-center" style="font-size: 30px; font-weight: bold">
    Bienvenues sur <span style="color: orange">MakeCV</span>, le site pour
    générer rapidement, facilement et 100% gratuitement son CV.
  </p>
  <hr />
  <center>
    <a
      class="btn btn-warning"
      style="width: 280px; height: 50px; padding-top: 10px; font-size: 20px"
      href="form"
      >Cliquez pour commencer</a
    >
  </center>
</div>
{% endblock content %}
